@page
@model IndexModel

<h1 class="blogs__title">Our blogs</h1>
@if ((Model.BlogsPayload != null) && (Model.BlogsPayload.TotalCount > 0)) {
    <ul class="blogs">
        @foreach (var blogItem in Model.BlogsPayload.Items) {
            <li class="blog-card">
                <h2 class="blog-card__title mobile"><a class="blog-card__link" href="@blogItem.Sys.Uri">@blogItem.Title</a></h2>
                @if (blogItem.ThumbnailImage != null) {
                    <img class="blog-card__img" src="@(blogItem.ThumbnailImage.Asset.Uri)" alt="" />
                }
                <div class="related-blog__content">
                        <h2 class="blog-card__title desktop"><a class="blog-card__link" href="@blogItem.Sys.Uri">@blogItem.Title</a></h2>
                <!-- Truncate text as it can sometimes be too long -->
                @if (blogItem.LeadParagraph != null) {
                    <p class="blog-card__text">@blogItem.LeadParagraph.Substring(0, Math.Min(blogItem.LeadParagraph.Length, 124))&hellip;</p>
                }
                @if (blogItem.Category != null) {
                    <span class="category">@blogItem.Category.Name</span>
                }
                </div>
            </li>
        }
    </ul>
} else {
    <p>No blogs found</p>
}
